name: 合并的 Cloudflare CIDR 工作流

on:
  workflow_dispatch:  # 手动触发
  schedule:
    - cron: "0 6 * * *"  # 每天6点运行一次

jobs:
  job2:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3
      
      - name: 设置 Python 环境
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      - name: 安装依赖
        run: pip install requests beautifulsoup4
      
      - name: 运行 job2 脚本
        run: python CloudflareCIDR-IPv4-and-IPv6.py

#      - name: 下载并处理 chnroute_v6.txt
#        run: |
#          curl -s https://raw.githubusercontent.com/mayaxcn/china-ip-list/master/chnroute_v6.txt | \
#          sed 's/^/IP-CIDR6,/' | sed 's/$/,no-resolve/' > CN-IPv6-cidr.list
#          git add CN-IPv6-cidr.list

#      - name: 下载并处理 chnroute.txt
#        run: |
#          curl -s https://raw.githubusercontent.com/mayaxcn/china-ip-list/master/chnroute.txt | \
#          sed 's/^/IP-CIDR,/' | sed 's/$/,no-resolve/' > CN-IPv4-cidr.list
#          git add CN-IPv4-cidr.list

      - name: 下载并处理 CloudflareCIDR-v6.txt
        run: |
          curl -s https://raw.githubusercontent.com/GuangYu-yu/ACL4SSR/main/Clash/CloudflareCIDR-v6.txt | \
          sed 's/^/IP-CIDR6,/' | sed 's/$/,no-resolve/' > CloudflareCIDR-v6.list
          git add CloudflareCIDR-v6.list

      - name: 下载并处理 CloudflareCIDR.txt
        run: |
          curl -s https://raw.githubusercontent.com/GuangYu-yu/ACL4SSR/main/Clash/CloudflareCIDR.txt | \
          sed 's/^/IP-CIDR,/' | sed 's/$/,no-resolve/' > CloudflareCIDR.list
          git add CloudflareCIDR.list

      - name: 检查是否有更改
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "没有需要提交的更改"
            exit 0
          fi

      - name: 提交并推送更改
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Downloaded and processed files on $(date '+%Y/%m/%d %H:%M:%S')" || echo "没有需要提交的更改，跳过提交。"
          git pull --rebase
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git push || echo "没有需要推送的更改，跳过推送。"

  compare-cidrs:
    needs: [job2]  # 等待 job2
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 设置 Python 环境
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: 安装依赖
        run: pip install netaddr requests beautifulsoup4 aiohttp

      - name: 提取列表中Cloudflare域名
        run: python 提取列表中Cloudflare域名.py

      - name: 检查是否有更改
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "没有需要提交的更改"
            exit 0
          fi

      - name: 提交并推送更改
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Downloaded and processed files on $(date '+%Y/%m/%d %H:%M:%S')" || echo "没有需要提交的更改，跳过提交。"
          git pull --rebase
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git push || echo "没有需要推送的更改，跳过推送。"

      - name: 运行列表过滤脚本
        run: python 规则剔除Cloudflare.py

      - name: 检查是否有更改
        run: |
          git add .
          if git diff --cached --quiet; then
            echo "没有需要提交的更改"
            exit 0
          fi

      - name: 提交并推送更改
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Downloaded and processed files on $(date '+%Y/%m/%d %H:%M:%S')" || echo "没有需要提交的更改，跳过提交。"
          git pull --rebase
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git push || echo "没有需要推送的更改，跳过推送。"
